<script>
    window.recurringEvents =
        {{ index site.Data "recurring-events" | jsonify | safeJS }};

    window.specialEvents = [
        {{ range where site.RegularPages "Section" "events" }}
        {
            title: {{ .Title | jsonify | safeJS }},
            title_en: {{ .Params.title_en | jsonify | safeJS }},

            date: {{ .Params.date | jsonify | safeJS }},
            time: {{ .Params.time | jsonify | safeJS }},

            location: {{ .Params.location | jsonify | safeJS }},
            location_en: {{ .Params.location_en | jsonify | safeJS }},

            description: {{ .Params.description | jsonify | safeJS }},
            description_en: {{ .Params.description_en | jsonify | safeJS }},

            zoom: {{ .Params.zoom | jsonify | safeJS }},
            zoom_info: {{ .Params.zoom_info | jsonify | safeJS }},

            permalink: {{ .RelPermalink | jsonify | safeJS }}
        },
        {{ end }}
    ];
</script>
